body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #23252C;
  display: flex;
  justify-content: center;
  align-items: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.main_page{
  display: flex;
  flex-direction: column;
  padding-top: 44px;
}
.main_page img{
  object-fit:cover;
  width: 317px;
  height: 317px;
}
.main_content{
  width: 317px;
  height: 399px;
  top: 361px;
  background: #1A1B21;
}
.user_info{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.user_name{
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 30px;
text-align: center;
padding-top: 21px;
color: #FFFFFF;
}
.occupation{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12.8px;
  line-height: 15px;
  text-align: center;
  color: #F3BF99;
  
}
.website{
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 10.24px;
line-height: 150%;
text-align: center;
color: #F5F5F5;
}
.links{
  display: flex;
  padding-top: 15px;
  width: 80%;
  justify-content: space-around;
}

.email_button{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 9px 13px 9px 11px;
gap: 8px;
width: 115px;
height: 34px;
}
.email_button img{
  width: 12.8px;
  height: 9.6px;
  border: 1px solid #D1D5DB;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
}
.linkedin_button{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 9px 13px 9px 11px;
gap: 8px;
background: #5093E2;
width: 115px;
box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
border-radius: 6px;
border: none;
}
.linkedin_button img{
  width: 12.8px;
  height: 9.6px;
}
.content{
  display: flex;
  flex-direction: column;
  padding-left: 36px;
  padding-top: 33px;
  padding-right: 34px;
}
.title{
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 150%;
color: #F5F5F5;
}
.content span{
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 10.24px;
line-height: 150%;
color: #DCDCDC;
padding-bottom: 27px;
}
.footer{
display: flex;
width: 317px;
height: 64px;
background-color: #161619;
border-radius: 0px 0px 10px 10px;
justify-content:space-evenly;
align-items: center;
}
iframe
{
    display: none;
}
a{
  text-decoration: none;
}
.footer div{
background: #161619;
border-radius: 0px 0px 10px 10px;
}
.footer img{
  width: 25px;
  height: 25px;
}